*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: grey;
}

#container{
    width: 1200px;
    margin: auto;
    border: 2px solid black;
    background-color: white;
    text-align: center;
}

.card{
    width: 32%;
    position: relative;
    display: inline-block;
    margin-right: 12px;
    
}

img{
    width: 100%;
}

.card > .discount{
    position: absolute;
    left: 0px;
    bottom: 19px;
    background-color: red;
    color: white;
    font: -webkit-small-control;
    padding: 5px 4px;
    font-size: 11px;
    font-weight: bold;
}

.card > .special1{
    position: absolute;
    left: 37px;
    bottom: 19px;
    background-color: rgb(52, 126, 89);
    color: white;
    font: -webkit-small-control;
    padding: 5px 4px;
    font-size: 11px;
    font-weight: bold;
}

.card > .special2{
    position: absolute;
    right: 0px;
    top: 12px;
    padding: 7px 10px 4px;
    background-color: white;
}